APP_ENV=dev
APP_SECRET=change_me

DB_NAME=symfony
DB_USER=symfony
DB_PASSWORD=secret
DB_HOST=db
DB_PORT=5432

DATABASE_URL="pgsql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?serverVersion=16&charset=utf8"
